In [98]:
import numpy as np
import pandas as pd

In [99]:
df = pd.read_csv("C:\\Users\\axhay\\Downloads\\insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [100]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler , LabelEncoder

In [101]:
le = LabelEncoder()
df['sex'] = le.fit_transform(df['sex'])
df['smoker'] = le.fit_transform(df['smoker'])
df['region'] = le.fit_transform(df['region'])

In [102]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [103]:
# ms = MinMaxScaler()
# df[['bmi','charges']]= ms.fit_transform(df[['bmi','charges']])
# df

In [108]:
x = df.drop(columns = ['charges'])
y= df['charges']

In [106]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2 , random_state = 42 )

TypeError: train_test_split() got an unexpected keyword argument 'dtypes'

In [69]:
from sklearn.linear_model import LinearRegression

In [70]:
lr = LinearRegression()

In [71]:
lr.fit(x_train, y_train)

LinearRegression()

In [72]:
y_pred = lr.predict(x_test)

In [73]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.7833463107364538

In [74]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [76]:
age= int(input("enter age:"))
sex= int(input("enter sex:"))
bmi= int(input("enter bmi:"))
children= int(input("enter children:"))
smoker= int(input("enter smoker:"))
region= int(input("enter region:"))

enter age:1
enter sex:1
enter bmi:2
enter children:1
enter smoker:1
enter region:1

In [77]:
new_list = np.array([[age, sex, bmi, children, smoker, region]])

In [78]:
print(len([age, sex, bmi, children, smoker, region]))

6

In [79]:
lr.predict(new_list)

C:\Users\axhay\anaconda3\envs\tensorflow\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([12764.8465077])

# deep learning

In [80]:
import numpy as np 
import pandas as pd

In [81]:
df = pd.read_csv("C:\\Users\\axhay\\Downloads\\insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [87]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler , LabelEncoder

In [88]:
le = LabelEncoder()
df['sex'] = le.fit_transform(df['sex'])
df['smoker'] = le.fit_transform(df['smoker'])
df['region'] = le.fit_transform(df['region'])

In [91]:
import tensorflow as tf
model= tf.keras.Sequential([
    tf.keras.layers.Dense(32, input_shape = (6,),activation= 'relu'),
    tf.keras.layers.Dense(64, activation = 'relu'),
    tf.keras.layers.Dense(1, activation = 'linear')
])

In [92]:
model.compile(optimizer = 'adam' , loss = 'mean_squared_error')
model.fit(x_train, y_train, epochs = 50 , batch_size = 32 , verbose = 1)

Epoch 1/50
34/34 [==============================] - 0s 2ms/step - loss: 322066016.0000
Epoch 2/50
34/34 [==============================] - 0s 1ms/step - loss: 320351776.0000
Epoch 3/50
34/34 [==============================] - 0s 1ms/step - loss: 316928896.0000
Epoch 4/50
34/34 [==============================] - 0s 1ms/step - loss: 310089152.0000
Epoch 5/50
34/34 [==============================] - 0s 1ms/step - loss: 297952032.0000
Epoch 6/50
34/34 [==============================] - 0s 1ms/step - loss: 279159328.0000
Epoch 7/50
34/34 [==============================] - 0s 1ms/step - loss: 253743792.0000
Epoch 8/50
34/34 [==============================] - 0s 1ms/step - loss: 223727664.0000
Epoch 9/50
34/34 [==============================] - 0s 1ms/step - loss: 193016352.0000
Epoch 10/50
34/34 [==============================] - 0s 1ms/step - loss: 166540976.0000
Epoch 11/50
34/34 [==============================] - 0s 1ms/step - loss: 146971600.0000
Epoch 12/50
34/34 [==============================] - 0s 2ms/step - loss: 135827152.0000
Epoch 13/50
34/34 [==============================] - 0s 1ms/step - loss: 130884208.0000
Epoch 14/50
34/34 [==============================] - 0s 1ms/step - loss: 129150328.0000
Epoch 15/50
34/34 [==============================] - 0s 1ms/step - loss: 128481720.0000
Epoch 16/50
34/34 [==============================] - 0s 1ms/step - loss: 128322512.0000
Epoch 17/50
34/34 [==============================] - 0s 1ms/step - loss: 128189256.0000
Epoch 18/50
34/34 [==============================] - 0s 1ms/step - loss: 128116400.0000
Epoch 19/50
34/34 [==============================] - 0s 1ms/step - loss: 128045240.0000
Epoch 20/50
34/34 [==============================] - 0s 1ms/step - loss: 128010760.0000
Epoch 21/50
34/34 [==============================] - 0s 1ms/step - loss: 127873008.0000
Epoch 22/50
34/34 [==============================] - 0s 1ms/step - loss: 127801952.0000
Epoch 23/50
34/34 [==============================] - 0s 1ms/step - loss: 127712400.0000
Epoch 24/50
34/34 [==============================] - 0s 1ms/step - loss: 127584424.0000
Epoch 25/50
34/34 [==============================] - 0s 1ms/step - loss: 127526376.0000
Epoch 26/50
34/34 [==============================] - 0s 1ms/step - loss: 127434208.0000
Epoch 27/50
34/34 [==============================] - 0s 1ms/step - loss: 127330768.0000
Epoch 28/50
34/34 [==============================] - 0s 1ms/step - loss: 127312312.0000
Epoch 29/50
34/34 [==============================] - 0s 1ms/step - loss: 127221544.0000
Epoch 30/50
34/34 [==============================] - 0s 1ms/step - loss: 127195048.0000
Epoch 31/50
34/34 [==============================] - 0s 1ms/step - loss: 127101896.0000
Epoch 32/50
34/34 [==============================] - 0s 1ms/step - loss: 126972768.0000
Epoch 33/50
34/34 [==============================] - 0s 1ms/step - loss: 126937688.0000
Epoch 34/50
34/34 [==============================] - 0s 2ms/step - loss: 126848752.0000
Epoch 35/50
34/34 [==============================] - 0s 1ms/step - loss: 126705888.0000
Epoch 36/50
34/34 [==============================] - 0s 1ms/step - loss: 126665808.0000
Epoch 37/50
34/34 [==============================] - 0s 964us/step - loss: 126678408.0000
Epoch 38/50
34/34 [==============================] - 0s 947us/step - loss: 126491928.0000
Epoch 39/50
34/34 [==============================] - 0s 947us/step - loss: 126406728.0000
Epoch 40/50
34/34 [==============================] - 0s 1ms/step - loss: 126371904.0000
Epoch 41/50
34/34 [==============================] - 0s 2ms/step - loss: 126206280.0000
Epoch 42/50
34/34 [==============================] - 0s 1ms/step - loss: 126199120.0000
Epoch 43/50
34/34 [==============================] - 0s 1ms/step - loss: 126026272.0000
Epoch 44/50
34/34 [==============================] - 0s 1ms/step - loss: 126004688.0000
Epoch 45/50
34/34 [==============================] - 0s 1ms/step - loss: 125945888.0000
Epoch 46/50
34/34 [==============================] - 0s 2ms/step - loss: 125869320.0000
Epoch 47/50
34/34 [==============================] - 0s 1ms/step - loss: 125757856.0000
Epoch 48/50
34/34 [==============================] - 0s 1ms/step - loss: 125661832.0000
Epoch 49/50
34/34 [==============================] - 0s 1ms/step - loss: 125581600.0000
Epoch 50/50
34/34 [==============================] - 0s 1ms/step - loss: 125568984.0000

In [94]:
y_pred=model.predict(x_test)

9/9 [==============================] - 0s 0s/step

In [95]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [96]:
mse=mean_squared_error(y_test,y_pred)
mse

129521235.38221006